<%= link_to("<<Back to AdminHome", {:controller => 'static', :action => 'admin_home'}, :class => 'back-link')%>

<div class="reserves index">
  <h2>Reserve Log</h2>

  <table class="listing"  >
    <tr class="header">
      <th>Item ID</th>
      <th>Qty ID</th>
      <th>Student ID</th>
      <th>Student Email</th>
      <th>Pick-up Date</th>
      <th>Due Date</th>
      <th>Actions</th>
    </tr>
    <% unless @reserves.size == 0 %>
      <% @reserves.each do |reserve| %>
      <tr>
        <td><%= reserve.item_id %></td>
        <td><%#= reserve.qty_id %></td>
        <td><%= reserve.student_id %></td>
        <td><%= reserve.email %></td>
        <td><%= reserve.start_date.strftime("%B %d, %Y") %></td>
        <td><%= reserve.end_date.strftime("%a, %B %d, %Y") %></td>
        <td class="actions">
          <%= link_to("Details", reserf_path(reserve.id), :class => 'action show')%>
          <%= link_to("Edit", edit_reserf_path(reserve), :class => 'action edit')%>
          <%= link_to("Check Out", {:controller => 'transactions',:action => 'check_out', :id => reserve.item_id}, :class => 'action check_out')%>
          <%= link_to("Delete", delete_reserf_path(reserve), :class => 'action delete') %>
        </td>
      </tr>
      <% end %>
    <% end %>
  </table>
</div>
