<%= link_to("<<Back to Reservation List", reserves_path, :class => 'back-link')%>

<div class="reserves show ">

  <table>
    <tr>
      <th>Item Id</th>
      <td><%= @reserve.item_id %></td>
    </tr>
    <tr>
      <th>Qty ID</th>
      <td><%= @reserve.qty_id %></td>
    </tr>
    <tr>
      <th>Student ID</th>
      <td><%= @reserve.student_id %><td>
    </tr>
    <tr>
      <th>Student Email</th>
      <td><%= @reserve.email %><td>
    </tr>
    <tr>
      <th>Pick-up Date</th>
      <td><%= @reserve.start_date %><td>
    </tr>
    <tr>
      <th>Due Date</th>
      <td><%= @reserve.end_date %><td>
    </tr>
    <tr>
      <th>Reserved on:</th>
      <td><%= @reserve.created_at.strftime("%a, %B %d, %Y") %><td>
    </tr>
  </table>

</div>
