<html>
  <body>
    <div class="row"  style="overflow-y:auto;">
      <h1> Items Request List</h1>
      <table>
        <tr>
          <th>Date</th>
          <th>Student ID Number</th>
          <th>Title</th>
          <th>Description</th>
          <th>Delete Item</th>
        </tr>
          <% @item_requests.reverse.each do |request|%>
        <tr>
          <td><%= request.created_at.strftime('%m/%d/%Y %H:%M:%S %p') %></td>
          <td><%= request.studentID%></td>
          <td><%= request.title %></td>
          <td><%= request.description %></td>
          <td><%= button_to 'Delete', item_request_path(request), method: :delete,
                  data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
        </tr>
        <%end%>
      </table>
    </div>
  </body>

</html>
