<html>
  <div id="request-form">
    <h1>Request an Item Form</h1>
    <%= render 'shared/error_msg', item: @item_request%>
    <%= form_for @item_request , url: item_requests_path do |f| %>
      <p>
        <%= f.label :title %><br>
        <%= f.text_field :title , class: "form-control"%>
      </p>

      <p>
        <%= f.label :studentID, "Student ID"%><br>
        <%= f.number_field :studentID, class: "form-control"%>
      </p>

      <p>
        <%= f.label :description %><br>
        <%= f.text_area :description, class: "form-control" %>
      </p>

      <p>
        <%= f.submit %>
      </p>
    <% end %>


  </div>
</html>
