<h1>Home#index</h1>
<% if admin_signed_in? %>
  <%= link_to "Logout (#{current_admin.email})", destroy_admin_session_path, method: :delete %>
<% else %>
  <%= link_to "Login", new_admin_session_path %>
<% end %>
<div class="admin-links", style="background-color:#f0f0f0; padding:5px; border: 1px solid black">
  <%= link_to "View Items", items_path %>
  <% if admin_signed_in? %>
    | <%= link_to "View Admins", admins_path %>
    <% if current_admin.superadmin %>
      | <%= link_to "Add Admin", new_admin_registration_path %>
    <% end %>
  <% end %>
</div>
