<div id="form">
<h1>Administrative Side of Web</h1>
  <div id="administration">
    <div tag: checking>
    <p><%= link_to("Check In", transactions_path) %></p>
    <p><%= link_to("Check Out", items_path )%> </p>
    <p><%= link_to 'Multiple Checkout', multiple_check_out_path %>
    </div>
    <hr />
    <div tag: requests>
      <p><%= link_to("Reserve Request", reserves_path) %></p>

      <p>
        <%= link_to 'View Item Requests', item_requests_path %>
      </p>
    </div>
    <hr>
    <div tag: Inventory>
      <p><%= link_to 'Inventory', items_path %></p>
    </div>
    <p><%= link_to 'Add an Item',new_item_path%></p>
    <hr>
    <div tag: admins>
      <p><%= link_to 'View Admins', admins_path %></p>

      <p><%= link_to 'Add Admin', new_admin_registration_path %></p>
    </div>
    <hr />
    <div tag: PSA-Blog>
    <p>
      <%= link_to 'New PSA', new_psa_post_path %>
    </p>
    <p>
      <%= link_to 'View PSAs', psa_posts_path %>
    </p>
    <p>
      <%= link_to 'New Blog', new_blog_path %>
    </p>
    <p>
      <%= link_to "View Blogs", blogs_path%>
    </p>
  </div>


</div>
</div>
