<h1>Administrative Side of Web</h2>
  <div>
    <div tag: checking>
    <p><%= link_to 'Check In', '' %></p>

    <p><%= link_to 'Check Out', '' %> </p>
    </div>
    <div tag: requests>
      <p><%= link_to 'Reserve Request', '' %></p>

      <p>
        <%= link_to 'Item Request', '' %>
      </p>
    </div>
    <div tag: Inventory>
      <p><%= link_to 'Inventory', '' %></p>
    </div>
    <div tag: admins>
      <p><%= link_to 'View Admins', admins_path %></p>

      <p><%= link_to 'Add Admin', new_admin_registration_path %></p>
    </div>
    
    <%= link_to 'New PSA', new_psa_post_path %>
</div>
