<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lula Bell's Resource Center</title>
  </head>
  <body>
  <div class= "my-fluid-container">
    <div class="row" id="carousel">
      <!-- <div class="jumbotron" id="slideJumbotron"> -->
      <div id="carouselSlides" class= "carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselSlides" data-slide-to="0" class="active"></li>
          <li data-target="#carouselSlides" data-slide-to="1"></li>
          <li data-target="#carouselSlides" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="item active">
            <div class="slide1"></div>
              <%= image_tag("collaborate.jpg", class: 'picSlide1')%>
              <div class="carousel-caption">
                <h1 id="Slide-title">Welcome to Lula Bell's</h1>
                <p id="Slide-caption"> Rent Suits, Checkout Textbooks, and more</p>
                <a href="\items" class = "btn btn-default " role="button">View Items</a>
              </div>
          </div>
          <div class="item">
            <div class="slide2" ></div>
              <%= image_tag("suit.jpg", class: 'picSlide2') %>
              <div class="carousel-caption">
                <h1 id="Slide-title">Professional Clothing</h1>
                <p id="Slide-caption"> View our selection of professional attire and reserve yours today!</p>
                <a href="/search?query=professional" class = "btn btn-default" role="button">See Professional Clothing</a>
              </div>
            </div>
            <div class="item">
              <div class="slide3" ></div>
                <%= image_tag("food.jpg", class: 'picSlide3') %>
                <div class="carousel-caption">
                  <h1 id="Slide-title">Explore our Pantry</h1>
                  <p id="Slide-caption"> See our available food selection</p>
                  <a href="/items/see/Food" class = "btn btn-default" role="button">See Available Food</a>
                </div>
              </div>
          </div>
          <a class="carousel-control left" href="#carouselSlides" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"> </span>
          </a>
          <a class="right carousel-control" href="#carouselSlides" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
      <!-- </div> -->
    </div>
</div>

<div class="my-fluid-container">
  <%= image_tag("cart.png", id: 'cart')%>
  <div  id="cart-container">
  <div class="row" id="mission-community">
      <div class = "col-lg-6 col-md-6  col-sm-6 col-xs-12">
      <h4>Why we are here?</h4>
        <div id="col1Content">
          <p>
            Lula Bell’s is a resource center for students and serves as a tangible example of the college’s commitment to provide the full Davidson experience for all students. The center offers a variety of resources including food, professional clothing, winter clothing, textbooks and personal hygiene items. Programming in the space focuses on life skills for all students with topics ranging from financial literacy to systemic social issues. Lula Bell’s is designed to feel like a home where everyone is welcome.
          </p>
      </div>
    </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div id="col2Content">
          <%= image_tag("community.png", class: 'community')%>
        </div>
        </div>
      </div>
  </div>
</div>
</div>
<div class="my-fluid-container">
  <div class="row" id="textbooks">
    <div class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active">
          <%= image_tag("books2.jpg", class: 'books')%>
          <div class="carousel-caption" id="textbook-caption">
            <h1 id="Books-title">
              Textbooks available to be rented at no cost.
            </h1>
            <div class="input-group-btn">
              <button href="/items/textbooks" type="button" class="btn btn-primary">See Textbook Inventory</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="my-fluid-container">
  <div class="row" id="Blogs-PSA">
    <div class="blogsDisplay">
      <h4>Recent Blogs</h4>
      <% if @blogs.empty? %>
        <h3> There are currently no blogs </h3>
      <% else %>
        <div class="blog-main-page">
         <%= render 'blog', locals: { blogs: @blogs } %>
        </div>
        <%= link_to "View All", blogs_path, class: "btn btn-primary" %>
      <% end %>
    </div>
    <div class="psasDisplay">
      <h4>Public Service Announcements</h4>
      <% if @psa_posts.empty? %>
        <h3> There are currently no PSAs </h3>
      <% else %>
        <%= render 'psa', locals: { psas: @psa_posts } %>
      <% end %>
    </div>
  </div>
</div>
  </body>
<%= javascript_include_tag 'home' %>
</html>
