<%= simple_form_for :item, url: {action: :create} do |form| %>
  <% process_types(@item_details, @item).each do |feature,details| %>
      <% if details[0]!=nil%>
        <% if details[2] == "check_boxes"%>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= capitalize(feature) %>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <%= form.input feature, label: false,
                      collection: details[0],required: details[1],
                      as: :check_boxes, class: "dropdown-item"%>
            </div>
          </div>
          <br>
        <%else%>
          <%= form.input feature, label: capitalize(feature),
                  collection: details[0],required: details[1],
                  input_html: { :class => 'dropdown' }%>
        <% end %>
      <% else %>
      <%= form.input feature, label: capitalize(feature),
                required: details[1], as: details[2]%>
      <% end%>
  <% end %>
  <!-- Hidden Tag is not associated with any item class-->
  <%= hidden_field_tag :class, "#{@item.class.name}"%>
  <%= form.submit "Save #{@item.class.name.titleize}", class: "btn btn-success" %>
<% end %>
