<div id="form">
<%= render 'shared/error_msg', item: @item %>
<%= simple_form_for :item, method: yield(:form_method),
                    url: {action: yield(:form_action)} do |form| %>
  <% process_types(@item_details, @item).each do |feature,details| %>
      <% if details[0]!=nil%>
        <% if details[2] == "check_boxes"%>
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= capitalize(feature) %>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <%= form.input feature, label: false,
                      collection: details[0],required: details[1],
                      as: :check_boxes, class: "dropdown-item"%>
            </div>
          </div>
          <br>
        <%else%>
          <%= form.input feature, label: capitalize(feature),
                  collection: details[0],required: details[1], html5: true,
                  input_html: { :class => 'dropdown' }%>
        <% end %>
      <% else %>
      <%= form.input feature, label: capitalize(feature),
                required: details[1], as: details[2], html5: true %>
      <% end%>
  <% end %>
  <%= form.input :image, as: :file, required: false%>
  <%= hidden_field_tag :class, "#{@item.class.name}"%>
  <%= form.submit "Save #{@item.class.name.titleize}", class: "btn btn-success" %>
<% end %>
</div>
