<div class = "all-category-content"> <!-- need this class to add top margin -->
  <%= render 'sidebar'%>
  <div class = 'category-content'id="category-content"> <!-- need this class to add left margin -->
    <% if @items.empty? %>
      <h4>Hmm, looks like there's nothing here...</h4>
    <% else %>
      <div class="row">
        <%@items.each do |item| %>
        <div class="col-sm-6 col-md-2">
          <div class="thumbnail">
            <a href= <%= item_path(item)%> >
              <%= image_tag(item.image.url(:thumb), alt: item.name)%>
              <div class="caption">
                <%= item.name %><br>
              </div>
            </a>
          </div>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>

</div>
<%= javascript_include_tag 'item_filter' %>
