<html>
<div class = "all-category-content"> <!-- need this class to add top margin -->
  <%= render 'sidebar'%>
  <div class = 'category-content'> <!-- need this class to add left margin -->
    <div class="row" id="item-display">
      <%content_tag "div", id: "all_items", data: {temp: @items} do %>
        <% end %>
      <%@items.each do |item| %>
      <div class="col-sm-6 col-md-2">
        <div class="thumbnail">
          <a href= <%= item_path(item)%> >
            <%= image_tag(item.image.url(:thumb), alt: item.name)%>
            <div class="caption">
              <%= item.name %><br>
            </div>
          </a>
        </div>
      </div>
      <% end %>
    </div>
  <%= link_to "Back", root_path %>
  </div>
</div>
<%= javascript_include_tag 'item_filter' %>
</html>
