<div class="single-item-view">
  <div class="container">
    <div class="item-image">
      <%= image_tag @item.image.url(:medium) %>
    </div>
    <div class="main-column">
      <div class="item-name">
        <h3><%= @item.name %></h3>
      </div>
      <div class="item-description">
        <%= @item.description %>
      </div>
      <% if admin_signed_in? %>
        <div class="edit-button">
          <a href="#">Edit Item</a>
        </div>
      <% end %>
    </div>
    <div class="left-column">
      <h5>This item is currently <span>available</span>.</h5>
      <div class="reserve-button">
        <a href="#">Reserve</a>
      </div>
    </div>
  </div>
  <div class="links">
    <%= link_to "Back", items_path %> |
    <% if admin_signed_in? %>
      <%= link_to "Delete", item_path(@item),
                            method: :delete,
                            data: { confirm: "Are you sure?" } %>
    <% end %>
  </div>
</div>
