<%= render 'sidebar' %>
<div class="single-item-view">
  <div class="container">
    <div class="item-image">
      <%= image_tag @item.image.url(:medium) %>
    </div>
    <div class="main-column">
      <div class="item-name">
        <h3><%= @item.name %></h3>
      </div>
      <div class="item-description">
        <%= @item.description %>
      </div>
      <div class="item-features">
        <% @features.each do |feature| %>
          <% if feature == "quantity" %>
            <p> <%= "#{capitalize(feature)} - " %><%= @item._quantity.size%></p>
          <% else %>
            <p> <%= "#{capitalize(feature)} - " %><%= @item.attributes[feature]%></p>
          <% end %>
        <% end %>
      </div>
        <%=link_to "Reserve",'#', class: "btn btn-success"%>
        <% if admin_signed_in? %>
          <% if @item._quantity.empty?%>
            <%= link_to "Check Out", check_out_transaction_path(@item.id),
                                              class: 'btn disabled btn-info'%>
          <% else %>
            <%= link_to "Check Out", check_out_transaction_path(@item.id),
                                              class: 'btn btn-info'%>
          <% end%>
          <%=link_to "Edit Item", edit_item_path(@item), class: "btn btn-info"%>
          <%= link_to "Recent Activity", item_transactions_path(@item), class: "btn btn-warning" %>
          <%= link_to "Delete", item_path(@item),
                                 method: :delete,
                                 data: { confirm: "Are you sure?" },
                                  class: "btn btn-danger" %>
        <% end %>

    </div>
  </div>
  <div class="links">
    <%= link_to "Back", items_path %>
  </div>
</div>
