<div class="transactions notice">
  <h2>Transaction Log for <%= @item.name %></h2>

  <table class="listing"  >
    <tr class="header">
      <th>Student ID</th>
      <th>Item ID</th>
      <th>Qty ID</th>
      <th>Pick-up Date</th>
      <th>Due Date</th>
      <th>Rental Returned On:</th>
      <th>Actions</th>
    </tr>
    <% unless @transactions.size == 0 %>
      <% @transactions.reverse.each do |transaction| %>
      <tr>
        <td><%= transaction.student_id %></td>
        <td><%= transaction.item_id %></td>
        <td>&nbsp&nbsp</td>
        <td><%= transaction.start_date.strftime("%B %d, %Y") %></td>
        <% if transaction.item.rentable %>
            <td><%= transaction.end_date.strftime("%a, %B %d, %Y") %></td>
          <% if transaction.return_date == nil %>
            <td style='color:red;'>Item not returned</td>
          <% else %>
            <td><%= transaction.return_date.strftime("%a, %B %d, %Y") %></td>
          <% end %>
          <td class="actions">
            <%= link_to("Check In", check_in_transaction_path(transaction), :class => 'action notice')%>
            <%= link_to("Delete", delete_transaction_path(transaction), :class => 'action delete') %>
          </td>
        <% else %>
          <td>UNAVAILABLE</td>
          <td>NON-RETURNABLE</td>
          <td class="actions">
            Check In
            <%= link_to("Delete", delete_transaction_path(transaction), :class => 'action delete') %>
          </td>
        <% end %>
      </tr>
      <% end %>
    <% end %>
  </table>
</div>
