<%= link_to("<<Back to Check In",{:controller => 'transactions', :action => 'notice'}, :class => 'back-link')%>

<div id="form">
  <h2>Check In!</h2>
  <%= render 'shared/error_msg', item: @transaction %>
  <%= simple_form_for @transaction, url: {action: 'update'}, method: :patch do |f| %>

      <%= f.input :student_id, label: "Student ID", required: true, as: :integer, readonly: true %>
      <%= f.hidden_field :item_id, value: "#{@transaction.item.id}", readonly: true%>
      <%= f.input :start_date, label: "Pick-up Date", as: :date, readonly: true, html5: true  %>
      <%= f.input :end_date, label: "Return Date", as: :date, readonly: true, html5: true  %>
      <%= f.input :return_date, label: "Item Returned On", as: :date,
                                input_html: {value: Time.now.strftime("%Y-%m-%d")},
                                html5: true  %>
      <%= f.submit "Check In", class: "btn btn-success" %>
  <% end %>
</div>
