<%= link_to("<<Back to AdminHome",'#', :class => 'back-link')%>

<% if !flash[:notice].blank? %>
  <div>
    <%= flash[:notice] %>
  </div>
<% end %>

<div class="transactions display">
  <h2>Check Out Items</h2>

  <table class="listing"  >
    <tr class="header">
      <th>Item</th>
      <th>Category</th>
      <th>Sub-category</th>
      <th>Rentable?</th>
      <th>Number of transactions</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
    <% @items.each do |item| %>
    <tr>
      <td><%= item.name %></td>
      <td><%= item.class.name %></td>
      <% if defined? item.type %>
        <td><%= item.type %></td>
      <% else %>
        <td>&nbsp&nbsp</td>
      <% end %>
      <td><%= item.rentable ? 'Yes' : 'No' %></td>
      <td><%= item.transactions.size %></td>
      <td><%= item.description %></td>
      <td class="actions">
        <%= link_to("Check Out", {:action => 'check_out', :id => item.id}, :class => 'action display')%>
      </td>
    </tr>
    <% end %>
  </table>
</div>
