<div class="form">
  <%= form_for(:transaction, :url => update_multiple_transactions_path, :method => 'patch') do |f| %>
  <ul>
    <% @transactions.each do |transaction| %>
      <li>
        <%= transaction.item.name %>
        <%= hidden_field_tag "items_id[]", transaction.id%>
      </li>
    <% end %>
  </ul>
  <table>
    <tr>
      <th>Due Date</th>
      <td><%= f.date_field(:end_date, :order => [:month, :day, :year]) %></td>
    </tr>
  </table>
  <div>
    <%= f.submit("Check In!") %>
  </div>
  <% end %>
</div>
