<div class="multiple-check-out">
  <div id="form">
    <h2>Multiple Check Out</h2>
    <%= simple_form_for @transaction, url: multiple_check_out_path, method: :get do |f| %>
      <div class="multi-checkout-static">
        <%= f.input :student_id, label: "Student ID", required: true, as: :integer %>
        <%= f.input :email, label: "Email (required for rentable items)", required: false %>
        <%= label_tag :sku, "Enter Item SKU" %><br>
        <%= text_field_tag :sku, params[:sku], placeholder: "Enter SKU of an item",
                                required: true %>
        <%= submit_tag "Check SKU", name: :submit, class: "btn btn-link" %>
      </div>
      <% if @item != nil %>
        <%= f.hidden_field :item_id, :value => "#{@item.id}", :readonly => true%>
        <div class="valid-SKU">
          <p><%= @item.name %></p>
        </div>
        <div class="quantity">
          <p>Quantity: <%= number_field_tag :qty, params[:qty] || 1, min: 1,
                            max: @item._quantity.size,
                            :required => true  %></p>
        </div>
        <div class="start-date">
          <%= f.input :start_date, as: :date, label: "Start Date", value: Date.today,
                                  input_html: {min: Date.today}, html5: true %>
        </div>
        <% if @item.rentable %>
          <div class="end-date">
            <%= f.input :end_date, as: :date, label: "End Date",
                                    input_html: {min: Date.today}, html5: true %>
          </div>
        <% end %>
      <% elsif params.has_key?(:sku) %>
        <div class="invalid-SKU">
          <p>Invalid SKU</p>
        </div>
      <% end %>
      <div class="buttons">
        <% if @item != nil %>
          <%= submit_tag "Checkout", name: :checkout, class: "btn btn-success" %>
        <% end %>
        <%= link_to "Done", static_admin_home_path, class: "btn btn-warning" %>
      </div>
    <% end %>
  </div>
</div>
