<div class="transactions notice">
  <h2>Check In Items</h2>

  <table class="listing"  >
    <tr class="header">
      <th>Student ID</th>
      <th>Pick-up Date</th>
      <th>Return Date</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
    <% @transactions.each do |transaction| %>
    <tr>
      <td><%= transaction.student_id %></td>
      <td><%= transaction.start_date.strftime("%B %d, %Y") %></td>
      <td><%= transaction.end_date.strftime("%B %d, %Y") %></td>
      <td><%= transaction.status %></td>
      <td class="actions">
        <%= link_to("Check In", {:action => 'check_in', :id => transaction.id}, :class => 'action notice')%>
      </td>
      <td class="actions">
        <%= button_to "Delete", {:action => 'destroy', :id => transaction.id}, method: :delete, data: {confirm: "Are you sure you wish to delete this transaction?"}%>
      </td>
    </tr>
    <% end %>
  </table>
</div>
