<%= link_to("<<Back to AdminHome",'#', :class => 'back-link')%>

<% if !flash[:notice].blank? %>
  <div>
    <%= flash[:notice] %>
  </div>
<% end %>

<div class="transactions notice">
  <h2>Transaction Log</h2>

  <table class="listing"  >
    <tr class="header">
      <th>Student ID</th>
      <th>Item ID</th>
      <th>Pick-up Date</th>
      <th>Due Date</th>
      <th>Rental Returned On:</th>
      <th>Actions</th>
    </tr>
    <% unless @transactions.size == 0 %>
      <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.student_id %></td>
        <td><%= transaction.item_id %></td>
        <td><%= transaction.start_date.strftime("%B %d, %Y") %></td>
        <% if transaction.item.rentable %>
          <td><%= transaction.end_date.strftime("%B %d, %Y") %></td>
          <% if transaction.return_date == nil %>
            <td>&nbsp&nbsp</td>
          <% else %>
            <td><%= transaction.return_date.strftime("%a, %B %d, %Y") %></td>
          <% end %>
          <td class="actions">
            <%= link_to("Check In", check_in_transaction_path(transaction), :class => 'action notice')%>
            <%= link_to("Delete", {:action => 'delete', :id => transaction.id}, :class => 'action delete') %>
          </td>
        <% else %>
          <td>UNAVAILABLE</td>
          <td>NON-RETURNABLE</td>
          <td class="actions">
            Check Out
            <%= link_to("Delete", {:action => 'delete', :id => transaction.id}, :class => 'action delete') %>
          </td>
        <% end %>
      </tr>
      <% end %>
    <% end %>
  </table>
</div>
