<%= link_to("<<Back to AdminHome",'#', :class => 'back-link')%>

<div class="transactions notice">
  <h2>Check In Items</h2>

  <table class="listing"  >
    <tr class="header">
      <th>Student ID</th>
      <th>Pick-up Date</th>
      <th>Return Date</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
    <% @transactions.each do |transaction| %>
    <tr>
      <td><%= transaction.student_id %></td>
      <td><%= transaction.start_date %></td>
      <td><%= transaction.end_date %></td>
      <td><%= transaction.status %></td>
      <td class="actions">
        <%= link_to("Check In", check_in_transaction_path(transaction), :class => 'action notice')%>
        <%= link_to("Delete", {:action => 'delete', :id => transaction.id}, :class => 'action delete') %>
      </td>
    </tr>
    <% end %>
  </table>
</div>
