<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title>LulaBellMongo</title>
=======
    <title>MongoDevise</title>
>>>>>>> 2a7cdb391d6a128c8808401d752d9ec35126310d
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<<<<<<< HEAD
=======
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
>>>>>>> 2a7cdb391d6a128c8808401d752d9ec35126310d
    <%= yield %>
  </body>
</html>
